# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.xlsx
*.json

# Ignore virtual environment folders
venv/
env/
.env/

# Ignore sensitive configuration files
config.json
secrets.json

# Ignore log files
*.log

# Ignore operating system files
.DS_Store
Thumbs.db
